<div class="container" id="about">
  <div class="card-group">

    <div class="card text-center bg-light mr-1">
      <div class="card-body">
        <fa-icon [icon]="faShip" size="3x"></fa-icon>
        <h4 class="card-title">Sea transport</h4>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos officia mollitia
          totam rerum distinctio, expedita quia iste dolorem ducimus eveniet reiciendis sed exercitationem quisquam at
          doloremque dolorum maxime magni reprehenderit?</p>
      </div>
    </div>
    <!-- /.card -->

    <div class="card text-center bg-light ml-1 mr-1 border">
      <div class="card-body">
        <fa-icon [icon]="faTrain" size="3x"></fa-icon>
        <h4 class="card-title">Rail transport</h4>
        <p class="card-text">.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos officia mollitia
          totam rerum distinctio, expedita quia iste dolorem ducimus eveniet reiciendis sed exercitationem quisquam at
          doloremque dolorum maxime magni reprehenderit?</p>
      </div>
    </div>
    <!-- /.card -->

    <div class="card text-center bg-light ml-1 mr-1 border">
      <div class="card-body">
        <fa-icon [icon]="faPlane" size="3x"></fa-icon>
        <h4 class="card-title">Air transport</h4>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos officia mollitia
          totam rerum distinctio, expedita quia iste dolorem ducimus eveniet reiciendis sed exercitationem quisquam at
          doloremque dolorum maxime magni reprehenderit?</p>
      </div>
    </div>
    <!-- /.card -->

    <div class="card text-center bg-light ml-1 border">
      <div class="card-body">
        <fa-icon [icon]="faTruck" size="3x"></fa-icon>
        <h4 class="card-title">Road transport</h4>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos officia mollitia
          totam rerum distinctio, expedita quia iste dolorem ducimus eveniet reiciendis sed exercitationem quisquam at
          doloremque dolorum maxime magni reprehenderit?</p>
      </div>
    </div>
    <!-- /.card -->


  </div>
  <!-- /.card-group -->
</div>