<ngb-carousel >
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src= "./../../assets/IMG/other/shutterstock_124765441.jpg" class="img-fluid" alt="First slide">
      </div>
      <div class="carousel-caption">
        <h3>Sea transport</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src= "./../../assets/IMG/other/shutterstock_141959188.jpg" class="img-fluid" alt="Second slide">
      </div>
      <div class="carousel-caption">
        <h3>Rail transport</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src= "./../../assets/IMG/other/shutterstock_745545163.jpg" class="img-fluid mx-auto" alt="Third slide">
      </div>
      <div class="carousel-caption">
        <h3>Air transport</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src= "./../../assets/IMG/other/shutterstock_1727416390.jpg" class="img-fluid" alt="Fourth slide">
      </div>
      <div class="carousel-caption">
        <h3>Road transport</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
  </ngb-carousel>



